<div class="partners">
  <app-navbar></app-navbar>
  <div class="partners__container">
    <app-topbar></app-topbar>
    <section class="partners__content">
      <div class="partners__wrapper">
        <div class="partners__header">
          <h2>Socios</h2>
          <a (click)="addPartner()" class="partners__button"
            ><i class="fas fa-plus"></i> Añadir nuevo socio</a
          >
        </div>
        <app-table
          *ngIf="partners.length >= 1"
          [columns]="[
            'Foto',
            'Nombre',
            'Apellido',
            'Rol',
            'Descripción',
            'Acciones'
          ]"
          [items]="partners"
          (deleteClicked)="handleDeletePartner($event)"
          (editClickedPartner)="editPartner($event)"
        ></app-table>

        <div
          class="partners__wrapper-null"
          *ngIf="partners.length === 0 && loaded"
        >
          <h3>Aún no has agregado ningún socio</h3>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="modal__container">
  <div class="modal__content">
    <form [formGroup]="form" (ngSubmit)="saveNewPartner()">
      <h2 class="modal__title">
        {{ isEditModeEnabled ? "Editar" : "Añadir" }} socio
      </h2>

      <div class="modal__gruop-inputs">
        <div class="modal__wrapper-input">
          <div class="modal__input-container">
            <input
              class="modal__input"
              type="text"
              required
              formControlName="firstName"
            />
            <span class="modal__label">Primer nombre *</span>
          </div>
          <small class="modal__input-error" *ngIf="invalidField('firstName')"
            >El título es obligatorio</small
          >
        </div>

        <div class="modal__wrapper-input">
          <div class="modal__input-container">
            <input
              class="modal__input"
              type="text"
              required
              formControlName="lastName"
            />
            <span class="modal__label">Apellido *</span>
          </div>
          <small class="modal__input-error" *ngIf="invalidField('lastName')"
            >El apellido es obligatorio</small
          >
        </div>
      </div>

      <div class="modal__wrapper-input">
        <div class="modal__input-container">
          <input
            class="modal__input"
            type="text"
            required
            formControlName="rolSpanish"
          />
          <span class="modal__label">Rol en Español *</span>
        </div>
        <small class="modal__input-error" *ngIf="invalidField('rolSpanish')"
          >El rol es obligatorio</small
        >
      </div>

      <div class="modal__wrapper-input">
        <div class="modal__input-container">
          <input
            class="modal__input"
            type="text"
            required
            formControlName="rolEnglish"
          />
          <span class="modal__label">Rol en Inglés *</span>
        </div>
        <small class="modal__input-error" *ngIf="invalidField('rolEnglish')"
          >El rol es obligatorio</small
        >
      </div>

      <div>
        <div class="modal__input-container">
          <input
            class="modal__input"
            type="text"
            required
            formControlName="descriptionSpanish"
          />
          <span class="modal__label">Descripción en Español *</span>
        </div>
        <small
          class="modal__input-error"
          *ngIf="invalidField('descriptionSpanish')"
          >La descripción es obligatoria</small
        >
      </div>

      <div>
        <div class="modal__input-container">
          <input
            class="modal__input"
            type="text"
            required
            formControlName="descriptionEnglish"
          />
          <span class="modal__label">Descripción en Inglés *</span>
        </div>
        <small
          class="modal__input-error"
          *ngIf="invalidField('descriptionEnglish')"
          >La descripción es obligatoria</small
        >
      </div>

      <div class="modal__gruop-inputs">
        <div class="modal__wrapper-input">
          <div class="modal__input-container">
            <input
              class="modal__input"
              type="text"
              formControlName="firtsRedSocial"
            />
            <span class="modal__label">Facebook (url)</span>
          </div>
        </div>

        <div class="modal__wrapper-input">
          <div class="modal__input-container">
            <input
              class="modal__input"
              type="text"
              formControlName="secondRedSocial"
            />
            <span class="modal__label">Instagram (url)</span>
          </div>
        </div>
      </div>

      <div class="modal__wrapper-input">
        <div class="modal__input-container">
          <input
            class="modal__input"
            type="text"
            formControlName="thirdRedSocial"
          />
          <span class="modal__label">LinkedIn (url)</span>
        </div>
      </div>

      <div *ngIf="!isEditModeEnabled">
        <div class="modal__input-container">
          <input
            class="modal__input modal__input--image"
            (change)="extractImage($event)"
            type="file"
            formControlName="photo"
            #imageInput
          />
          <div class="modal__upload">
            <div class="modal__upload-button" (click)="imageInput.click()">
              <i class="fas fa-upload"></i>
              Cargar imagen
            </div>
            <figure class="modal__upload-figure">
              <img
                class="modal__upload-image"
                [src]="imageSelected || 'assets/img/image-not-found.png'"
                alt="noImage"
              />
            </figure>
          </div>
        </div>
        <small class="modal__input-error" *ngIf="invalidField('photo')"
          >La imagen es obligatoria</small
        >
      </div>

      <div class="modal__input-container">
        <input
          *ngIf="!isEditModeEnabled"
          class="modal__button"
          type="submit"
          (click)="saveNewPartner()"
          value="Crear"
        />

        <input
          *ngIf="isEditModeEnabled"
          class="modal__button"
          type="submit"
          (click)="saveNewEditedPartner()"
          value="Editar"
        />
      </div>
    </form>

    <a class="modal__close" (click)="closeModal()">
      <img src="assets/img/cancel.png" alt="times-icon"
    /></a>
  </div>
</div>
