<div class="projects">
  <app-navbar></app-navbar>

  <div class="projects__container">
    <app-topbar></app-topbar>

    <section class="projects__content">
      <div class="projects__wrapper">
        <div class="projects__header">
          <h2>Proyectos</h2>
          <a (click)="addProject()" class="projects__button"
            ><i class="fas fa-plus"></i> Añadir nuevo proyecto</a
          >
        </div>
        <app-table
          *ngIf="projects.length >= 1"
          [columns]="['Foto', 'Título', 'Entidad', 'Descripción', 'Acciones']"
          [items]="projects"
          (deleteClicked)="handleDeleteProject($event)"
          (editClicked)="editProject($event)"
        ></app-table>

        <div
          class="projects__wrapper-null"
          *ngIf="projects.length === 0 && loaded"
        >
          <h3>Aún no has creado ningún proyecto</h3>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="modal__container">
  <div class="modal__content">
    <form [formGroup]="form">
      <h2 class="modal__title">
        {{ isEditModeEnabled ? "Editar" : "Añadir" }} proyecto
      </h2>

      <div>
        <div class="modal__input-container">
          <input
            class="modal__input"
            type="text"
            required
            formControlName="titleSpanish"
          />
          <span class="modal__label">Título en Español *</span>
        </div>
        <small class="modal__input-error" *ngIf="invalidField('titleSpanish')"
          >El título es obligatorio</small
        >
      </div>

      <div>
        <div class="modal__input-container">
          <input
            class="modal__input"
            type="text"
            required
            formControlName="entitySpanish"
          />
          <span class="modal__label">Entidad en Español *</span>
        </div>
        <small class="modal__input-error" *ngIf="invalidField('entitySpanish')"
          >La entidad es obligatoria</small
        >
      </div>

      <div>
        <div class="modal__input-container">
          <input
            class="modal__input"
            type="text"
            required
            formControlName="descriptionSpanish"
          />
          <span class="modal__label">Descripción en Español *</span>
        </div>
        <small
          class="modal__input-error"
          *ngIf="invalidField('descriptionSpanish')"
          >La descrición es obligatoria</small
        >
      </div>

      <div>
        <div class="modal__input-container">
          <input
            class="modal__input"
            type="text"
            required
            formControlName="titleEnglish"
          />
          <span class="modal__label">Título en Inglés *</span>
        </div>
        <small class="modal__input-error" *ngIf="invalidField('titleEnglish')"
          >El título es obligatorio</small
        >
      </div>

      <div>
        <div class="modal__input-container">
          <input
            class="modal__input"
            type="text"
            required
            formControlName="entityEnglish"
          />
          <span class="modal__label">Entidad en Inglés *</span>
        </div>
        <small class="modal__input-error" *ngIf="invalidField('entityEnglish')"
          >La entidad es obligatoria</small
        >
      </div>

      <div>
        <div class="modal__input-container">
          <input
            class="modal__input"
            type="text"
            required
            formControlName="descriptionEnglish"
          />
          <span class="modal__label">Descripción en Inglés *</span>
        </div>
        <small
          class="modal__input-error"
          *ngIf="invalidField('descriptionEnglish')"
          >La descrición es obligatoria</small
        >
      </div>

      <div>
        <div class="modal__input-container">
          <input class="modal__input" type="text" formControlName="hasInfo" />
          <span class="modal__label"
            >Link de información adicional (opcional)</span
          >
        </div>
      </div>

      <div *ngIf="!isEditModeEnabled">
        <div class="modal__input-container">
          <input
            class="modal__input modal__input--image"
            (change)="extractImage($event)"
            type="file"
            formControlName="image"
            #imageInput
          />
          <div class="modal__upload">
            <div class="modal__upload-button" (click)="imageInput.click()">
              <i class="fas fa-upload"></i>
              Cargar imagen
            </div>
            <figure class="modal__upload-figure">
              <img
                class="modal__upload-image"
                [src]="imageSelected || 'assets/img/image-not-found.png'"
                alt="noImage"
              />
            </figure>
          </div>
        </div>
        <small class="modal__input-error" *ngIf="invalidField('image')"
          >La imagen es obligatoria</small
        >
      </div>

      <div class="modal__input-container">
        <input
          *ngIf="!isEditModeEnabled"
          class="modal__button"
          type="submit"
          (click)="saveNewProject()"
          value="Crear"
        />

        <input
          *ngIf="isEditModeEnabled"
          class="modal__button"
          type="submit"
          (click)="saveNewEditedProject()"
          value="Editar"
        />
      </div>
    </form>

    <a class="modal__close" (click)="closeModal()">
      <img src="assets/img/cancel.png" alt="times-icon"
    /></a>
  </div>
</div>
